<%- include('./partials/head') %> 
<body>
  <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Product Manager</a>
    <button type="button" class="btn btn-info" onclick="window.location.href='/'">Add a new product</button>
  </div>
</nav>


<% if(lista.length == 0){ %>
<h1>No hay productos</h1>
<% } else { %>
<table class="table form-margin">
  <thead>
    <tr >
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <% lista.forEach(function (product){ %>
    <tr>
      <td><%= product.name %> </td>
      <td><%= product.price %></td>
      <td><img class="image-size" src=<%= product.thumbnail %>></td>
    </tr>
    <% }); %> 
  </tbody>
</table>

<% } %>

</body>

<%- include('./partials/footer') %> 